@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* SET UP */

* {
  box-sizing: border-box;
}

ul {
  padding-left: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: snow;
  margin: 0 auto;
  /* max-width: 1000px; */
}

.item {
  padding: 8px;
  background-color: white;
  border: 4px solid tomato;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.height-50 {
  height: 50vh;
}

/* Task 1 */

.task-1.container {
  display: grid;
  height: 100vh;

  grid-template-rows: auto 1fr auto;
}

/* Task 2 */

.task-2.container {
  display: grid;
  height: 100vh;

  grid-template-columns: repeat(12, 1fr);

  column-gap: 12px;

  align-items: center;
}

.task-2 .item-1 {
  /* grid-column: 2 / 6; */
  grid-column: 2 / span 4;
}

.task-2 .item-2 {
  /* grid-column: 6 / 12; */
  grid-column: 6 / span 6;
}

/* Task 3.1 */

.task-3-1.container {
  display: grid;
  height: 100vh;

  grid-template-rows: auto auto 1fr auto auto auto;

  gap: 20px;
}

@media (min-width: 720px) {
  .task-3-1.container {
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: repeat(12, 1fr);
  }

  .task-3-1 .header {
    grid-column: 1 / span 13;
  }

  .task-3-1 .navigation {
    grid-column: 1 / span 13;
    grid-row: 2;
  }

  .task-3-1 .main {
    grid-column: 4 / span 10;
    grid-row: 3;
  }

  .task-3-1 .sidebar {
    grid-column: 1 / span 3;
    grid-row: 3;
  }

  .task-3-1 .ads {
    grid-column: 1 / span 3;
  }

  .task-3-1 .footer {
    grid-column: 4 / span 9;
  }
}

@media (min-width: 1020px) {
  .task-3-1 .header {
    grid-column: 1 / 13;
  }

  .task-3-1 .navigation {
    grid-column: 3 / 11;
    grid-row: 2;
  }

  .task-3-1 .main {
    grid-column: 3 / 11;
    grid-row: 3;
  }

  .task-3-1 .sidebar {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }

  .task-3-1 .ads {
    grid-column: 11 / 13;
    grid-row: 2 / 4;
  }

  .task-3-1 .footer {
    grid-row: 4;
    grid-column: 1 / 13;
  }
}

/* Task 3.2 */

.task-3-2.container {
}

.task-3-2 .header {
}

.task-3-2 .navigation {
}

.task-3-2 .ads {
}

.task-3-2 .sidebar {
}

.task-3-2 .main {
}

.task-3-2 .footer {
}

@media (min-width: 720px) {
}

@media (min-width: 1020px) {
}

/* Task 4 */

.task-4.container {
}

.task-4 .item-5 {
}

/* Task 5 */

.task-5.container {
}

.task-5 .item-1 {
}

.task-5 .item-2 {
}

.task-5 .item-3 {
}

.task-5 .item-4 {
}


.index.container {
  display: grid;
  height: 100vh;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.index .header {
  grid-column: 1 / 13;
}

.index .sidebar {
  grid-row: 2 / 12;
  display: grid;
  grid-template-rows: repeat(24, 1fr);
}

.index .icon1 {
  color: #55C500;
  font-size: 15px;
  font-weight: bold;
  border-radius: 80px;
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
  border: 2px solid #55C500;
}

.text1 {
  margin: 0;
}

.icon2 {
  grid-row: 3;

  color: #55C500;
  font-size: 15px;
  font-weight: bold;
  border-radius: 80px;
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
  border: 2px solid #55C500;
}

.text2 {
  margin-top: 10px;
  font-size: 14px;
}

.icon3 {
  grid-row: 5;

  color: #55C500;
  font-size: 15px;
  font-weight: bold;
  border-radius: 80px;
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
  border: 2px solid #55C500;
}

.text3 {
  margin: 0;
}

.index .main {
  grid-column: 3 / 10;
  grid-row: 2 / 12;
}

.index .ads {
  grid-column:  11 / 13;
  grid-row: 2 / 12;
}

.index .footer {
  grid-column: 1 / 13;
  grid-row: 12 / 13;
}
